
.panel
  .panel-heading
   h2.panel-title 
    |About: urbike
  .panel-body
   |...
a(href="http://www.intel.com/content/www/us/en/do-it-yourself/edison.html", target='_blank')
  img.about(src="public/edison.jpg")
a(href="http://www.makerfairerome.eu/it/", target='_blank')
  img.about(src="public/make.png")
  div(style="height:5em;")
