extend ./base

block body
  nav.navbar.navbar-default.navbar-fixed-bottom
    .container-fluid
      .navbar-header.row
        a.navbar-brand.col-xs-4(href='#/user')
          img.inv.navbar-icon(src="public/ic_person_outline_24px.svg")
        a.navbar-brand.col-xs-4(href='#/map')
          img.inv(src="public/ic_map_24px.svg")
        .col-xs-4
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.icon-bar.top-bar
            span.icon-bar.middle-bar
            span.icon-bar.bottom-bar
      #navbar.navbar-collapse.collapse
        ul.nav.navbar-nav
          li
            a(href='#/about', data-toggle='collapse', data-target='#navbar')
              img.inv(src="public/ic_info_outline_24px.svg")
              |About
          li
            a(href='#/contact', data-toggle='collapse', data-target='#navbar')
              img.inv(src="public/ic_mail_outline_24px.svg")
              |Contact
  div(ng-view)
